/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

//$energized:                       #444 !default;
$item-avatar-border-radius: 15%;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.item-profile img{
  border-radius:15%;
}

.scroll-content {
  background: url('../images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  //opacity: 0.5;
  //background-color: #444;
}


.pane {
  //background: url('www/images/bg.jpg') no-repeat center center fixed;
  //background-size: cover;
  //background: url('../images/bg.jpg') no-repeat center center fixed;
  //background-size: cover;
  //opacity: 0.5;
  background-color: #444;
}


.white-bg {
  background-color: #FFF;
}

.specialRequests {
  //background-color: #000;
  border: 1px solid grey; 
  height: 60px; 
  width: 100%; 
  resize:none;
}

.border2 {
    //border: 2px solid #444;
    color: #444;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    display: block;
    padding: 0 5px;
    width: 218px;
    margin: 0 auto;
    position: relative;
}
.price sup {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 23%;
    height: 20px;
}

/* checkbox - each time slot */
.time-slot               {  }

/* hide the checkbox itself - the label will be styled */
.time-slot input     { 
  display:none; 
}

/* hide the checkbox itself - the label will be styled */
.time-slot-spacing { 
  margin:10% 0%; 
}

/* default styling for our labels */
.time-slot label     { 
  padding:10px 20px; 
  color:#FFF; 
  cursor:pointer; 
  background:#EEE; 
  border-radius:5px; 
  transition:0.3s ease all;
}

/* if the label is checked */
.time-slot input:checked ~ label { 
  background:#f2dede; 
  cursor:not-allowed;
  animation:flashBooked 0.5s ease; 
}

/* if the label is not checked */
.time-slot input:not(:checked) ~ label { 
  background:#6AB074; 
  animation:flashAvailable 0.5s ease; 
}

/* animation for the time slot to flash red */
@keyframes flashBooked {
  0%, 100%  { background:#f2dede; transform:scale(1); }
  50%       { background:#F99090; transform:scale(1.5); }
}

/* animation for the time slot to flash green */
@keyframes flashAvailable {
  0%, 100%  { background:#6AB074; transform:scale(1); }
  50%       { background:rgb(119, 218, 78); transform:scale(1.5); }
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
booking-calendar {
  //float: left;
  //display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 300px;
  border: solid 1px #cccccc;
  margin-bottom: 10px;
}
booking-calendar > div.header {
  float: left;
  width: 100%;
  background: #2875c7;
  height: 40px;
  color: white;
}
booking-calendar > div.header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
booking-calendar > div.header > i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
booking-calendar > div.header > i.ion-ios-arrow-left {
  text-align: left;
}
booking-calendar > div.header > i.ion-ios-arrow-right {
  text-align: right;
  margin-left: -40px;
}
booking-calendar > div.header > span {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}
booking-calendar > div.week {
  float: left;
  width: 100%;
  border-top: solid 1px #cccccc;
}
booking-calendar > div.week:first-child {
  border-top: none;
}
booking-calendar > div.week > span.day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #cccccc;
  font-size: 0.75em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  color: black;
}
booking-calendar > div.week > span.day:first-child {
  border-left: none;
}
booking-calendar > div.week > span.day.today {
  background: #E3F2FF;
}
booking-calendar > div.week > span.day.different-month {
  color: #C0C0C0;
}
booking-calendar > div.week > span.day.selected {
  background: #2875c7;
  color: white;
}
booking-calendar > div.week.names > span {
  color: #2875c7;
  font-weight: bold;
}

