<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <a style="color:#fff;" href="javascript:void(0)" ng-click="$root.goBack()" class="button button-icon icon ion-chevron-left"></a>
    <h1 class="title">Barber Listings</h1>
    <button ng-click="refresh()" class="button button-icon icon  ion-ios-refresh-empty"></button>
</ion-header-bar>
<ion-pane>
    <ion-content has-header="true">
        <ion-refresher  pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <ion-list ng-show="showingListings">
            <ion-item ng-repeat="item in listBarbers | orderObjectBy:option.currentSortBarberOrder" href="#/app/barber-details/{{item.uid}}" class="item item-avatar item-icon-right">
      	        <img ng-src="{{item.avatar || item.picture}}">
                <div>{{item.given_name}} {{item.family_name}}</div>
                <div ng-if="item.barberShop">{{item.barberShop}}</div>
                <div ng-if="item.address || item.zipcode">{{item.address}} {{item.zipcode}}</div>
                <div><b>{{item.distance.toFixed(2)}} miles away</b></div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="card" ng-show="showingListings && !countProperties(listBarbers)">
          <div class="item item-text-wrap">
             There are no barbers nearby!
          </div>
        </div>
    </ion-content>
</ion-pane>
