<ion-header-bar class="bar bar-header bar-dark  item-input-inset" enable-menu-with-back-views="true">
    <h1 class="title">Booking - Confirmation</h1>
</ion-header-bar>
<ion-pane>
    <ion-content has-header="true">
        <ion-list>
            <ion-item>
                Booking Successful!
            </ion-item>
            <ion-item>
                Confirmation Number: {{bData.cardInfo.transId}}
            </ion-item>
            <ion-item>
                Booking Price: {{bData.cardInfo.amount/100 | currency:"$":2}}
            </ion-item>
            <ion-item>
                Booking Date: {{bData.appDate}}
            </ion-item>
            <ion-item>
                Booking Time: {{bData.appTime.timeStartNum}}
            </ion-item>
        </ion-list>
        <a class="button button-block button-balanced"  ng-click="goHome()">
            Return To Home Screen
        </a>
    </ion-content>
</ion-pane>
