<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <a style="color:#fff;" href="javascript:void(0)" ng-click="$root.goBack()" class="button button-icon icon ion-chevron-left"></a>
    <h1 class="title">Barber Shops</h1>
    <button ng-click="refresh()" class="button button-icon icon  ion-ios-refresh-empty"></button>
</ion-header-bar>
<ion-pane>
    <ion-content has-header="true">
        <button class="button button-block button-positive" ng-click="updateSearch()">
            Update Search
        </button>

        <ion-list>
            <ion-item>
                Search Location:
                <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="searchLocation" ng-change="onSearchFilterChange('searchLocation', searchLocation)" geocode-options="geocodeOptions" style="width: 100%">
            </ion-item>
            <ion-item>
                <label class="item-input item-select">
                <div class="input-label">
                    Sort By: 
                </div>
                <select ng-model="option.currentSortBarberOrder">
                    <option ng-repeat="order in sortBarberOrderList" value="{{order.value}}"> {{order.name}}</option>
                </select>
                </label>
            </ion-item>
            <ion-item>
                Search Radius (in Miles): {{option.searchRadiusInMiles}}
                <div class="range range-positive">

                <input type="range" name="volume" min="1" max="{{MAXIMUM_SEARCH_RANGE}}" step="1" value="{{option.searchRadiusInMiles}}" ng-model="option.searchRadiusInMiles" ng-change="onSearchFilterChange('option.searchRadiusInMiles', option.searchRadiusInMiles)">
                {{MAXIMUM_SEARCH_RANGE}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-pane>
