.fc-icon {
  display: inline-block;
  width: 1em;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}
.fc-icon:after {
  position: relative;
  margin: 0 -1em;
  color: #ccc;
  cursor: pointer;
}
.fc-future {
    cursor: pointer;
}
.fc-icon-left-single-arrow:after {
  content: "\02039";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
  left: 3%;
}
.fc-icon-right-single-arrow:after {
  content: "\0203A";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
  left: -3%;
}
.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.fc th {
  text-align: center;
}
.fc th,
.fc td {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}
.fc-row {
  position: relative;
}
.fc-toolbar .fc-center {
  display: inline-block;
}
.fc .fc-toolbar > * > * {
  float: left;
    padding: 0 10px;
    height: 40px;
}
.fc-toolbar h2 {
  margin: 0;
}
.fc-toolbar button {
  position: relative;
}
.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 2;
}
.fc-toolbar .fc-state-down {
  z-index: 3;
}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 4;
}
.fc-toolbar button:focus {
  z-index: 5;
}
.fc-basic-view .fc-body .fc-row {
  min-height: 44px;
  max-height: 44px;
}
.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
  padding: 0 2px;
}
.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-day-number {
  padding-top: 2px;
  padding-bottom: 2px;
}
.fc-day-number.fc-other-month {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
#kalender {
  margin: 0 auto;
}
table,
thead,
tbody,
tr{
    display: block;
    width: 100%;
}
.fc-head{
  background: rgba(255,255,255, 0.3);
  margin: 0 0 5px;
  padding: 5px 0; 
}
thead.fc-head > tr,
.fc-body{
  width: 300px;
  margin: 0 auto;
}
div.fc td {
    border-radius: 40px;
    display: inline-block;
    border: 0;
}
.fc td.fc-day-number{
    border: 2px solid #0ad;
    width: 35px;
    height: 35px;
    text-align: center !important;;
    line-height: 26px;
    margin: 3px;
    position: relative;
}
.fc td.fc-widget-content {
    width: 100%;
}
div.fc-scroller{
  overflow: hidden;
  min-height: 220px;
  max-height: 220px;
}
th.fc-day-header {
    border: 0;
    width: 38px;
    margin: 2px;
    display: inline-block;
}
button.fc-state-default {
    background: none;
    border: 0;
    box-shadow: none;
}
td.fc-day-number.fc-today{
    background: rgba(255,255,255,0.2);
    border: 2px solid #aaa;
    cursor: pointer;
}
.fc-day-number.canceled:after,
.fc-day-number.completed:after,
.fc-day-number.upcoming:after {
    content: "\f057";
    bottom: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    line-height: 10px;
    background: #fff;
    border-radius: 7px;
    opacity: 0.8;
    font-family: icon;
  font-size: 10px;
}
.fc-day-number.canceled:after{
  content: "\f057";
  background: none;
}
.fc-day-number.completed:after{
  content: "\f058";
  background: none;
}
.fc-day-number.upcoming:after{
  content: "\f058";
  background: none;
}

.fc td.fc-day-number.completed{
  background: #3b3;
  border: 2px solid #3b3
}
.fc td.fc-day-number.canceled{
  background: #b33;
  border: 2px solid #b33;
  cursor: not-allowed;
}
.fc-past{
  cursor: not-allowed;
}
.fc td.fc-day-number.upcoming{
  background: #0ad;
  border: 2px solid #0ad;
}
