
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-rotating-plane"></div>
 *
 */
.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #1ab394;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-double-bounce">
 *      <div class="sk-double-bounce1"></div>
 *      <div class="sk-double-bounce2"></div>
 *    </div>
 *
 */
.sk-spinner-double-bounce.sk-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto; }

.sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1ab394;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out; }

.sk-spinner-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-wave">
 *      <div class="sk-rect1"></div>
 *      <div class="sk-rect2"></div>
 *      <div class="sk-rect3"></div>
 *      <div class="sk-rect4"></div>
 *      <div class="sk-rect5"></div>
 *    </div>
 *
 */
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }

.sk-spinner-wave div {
  background-color: #1ab394;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }

.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-wandering-cubes">
 *      <div class="sk-cube1"></div>
 *      <div class="sk-cube2"></div>
 *    </div>
 *
 */
.sk-spinner-wandering-cubes.sk-spinner {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  position: relative; }

.sk-spinner-wandering-cubes .sk-cube1, .sk-spinner-wandering-cubes .sk-cube2 {
  background-color: #1ab394;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
  animation: sk-wanderingCubeMove 1.8s infinite ease-in-out; }

.sk-spinner-wandering-cubes .sk-cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

@-webkit-keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-pulse"></div>
 *
 */
.sk-spinner-pulse.sk-spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #1ab394;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-chasing-dots">
 *      <div class="sk-dot1"></div>
 *      <div class="sk-dot2"></div>
 *    </div>
 *
 */
.sk-spinner-chasing-dots.sk-spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
  animation: sk-chasingDotsRotate 2s infinite linear; }

.sk-spinner-chasing-dots .sk-dot1, .sk-spinner-chasing-dots .sk-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #1ab394;
  border-radius: 100%;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out; }

.sk-spinner-chasing-dots .sk-dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-three-bounce">
 *      <div class="sk-bounce1"></div>
 *      <div class="sk-bounce2"></div>
 *      <div class="sk-bounce3"></div>
 *    </div>
 *
 */
.sk-spinner-three-bounce.sk-spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center; }

.sk-spinner-three-bounce div {
  width: 18px;
  height: 18px;
  background-color: #1ab394;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.sk-spinner-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.sk-spinner-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-threeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-threeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-circle">
 *      <div class="sk-circle1 sk-circle"></div>
 *      <div class="sk-circle2 sk-circle"></div>
 *      <div class="sk-circle3 sk-circle"></div>
 *      <div class="sk-circle4 sk-circle"></div>
 *      <div class="sk-circle5 sk-circle"></div>
 *      <div class="sk-circle6 sk-circle"></div>
 *      <div class="sk-circle7 sk-circle"></div>
 *      <div class="sk-circle8 sk-circle"></div>
 *      <div class="sk-circle9 sk-circle"></div>
 *      <div class="sk-circle10 sk-circle"></div>
 *      <div class="sk-circle11 sk-circle"></div>
 *      <div class="sk-circle12 sk-circle"></div>
 *    </div>
 *
 */
.sk-spinner-circle.sk-spinner {
  margin: 0 auto;
  width: 22px;
  height: 22px;
  position: relative; }

.sk-spinner-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-spinner-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #1ab394;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.sk-spinner-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-spinner-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-spinner-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-spinner-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-spinner-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-spinner-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-spinner-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-spinner-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-spinner-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-spinner-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-spinner-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-spinner-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-spinner-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-spinner-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-spinner-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-spinner-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-spinner-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-spinner-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-spinner-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-spinner-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-spinner-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-spinner-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-cube-grid">
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *    </div>
 *
 */
.sk-spinner-cube-grid {
  /* Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }

.sk-spinner-cube-grid.sk-spinner {
  width: 30px;
  height: 30px;
  margin: 0 auto; }

.sk-spinner-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #1ab394;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-spinner-cube-grid .sk-cube:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-spinner-cube-grid .sk-cube:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-spinner-cube-grid .sk-cube:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-spinner-cube-grid .sk-cube:nth-child(4) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-spinner-cube-grid .sk-cube:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-spinner-cube-grid .sk-cube:nth-child(6) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-spinner-cube-grid .sk-cube:nth-child(7) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-spinner-cube-grid .sk-cube:nth-child(8) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-spinner-cube-grid .sk-cube:nth-child(9) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-wordpress">
 *      <span class="sk-inner-circle"></span>
 *    </div>
 *
 */
.sk-spinner-wordpress.sk-spinner {
  background-color: #1ab394;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; }

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*  Usage:
 *
 *    <div class="sk-spinner sk-spinner-fading-circle">
 *      <div class="sk-circle1 sk-circle"></div>
 *      <div class="sk-circle2 sk-circle"></div>
 *      <div class="sk-circle3 sk-circle"></div>
 *      <div class="sk-circle4 sk-circle"></div>
 *      <div class="sk-circle5 sk-circle"></div>
 *      <div class="sk-circle6 sk-circle"></div>
 *      <div class="sk-circle7 sk-circle"></div>
 *      <div class="sk-circle8 sk-circle"></div>
 *      <div class="sk-circle9 sk-circle"></div>
 *      <div class="sk-circle10 sk-circle"></div>
 *      <div class="sk-circle11 sk-circle"></div>
 *      <div class="sk-circle12 sk-circle"></div>
 *    </div>
 *
 */
.sk-spinner-fading-circle.sk-spinner {
  margin: 0 auto;
  width: 22px;
  height: 22px;
  position: relative; }

.sk-spinner-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-spinner-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 18%;
  height: 18%;
  background-color: #1ab394;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.sk-spinner-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-spinner-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-spinner-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-spinner-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-spinner-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-spinner-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-spinner-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-spinner-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-spinner-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-spinner-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-spinner-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-spinner-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-spinner-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-spinner-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-spinner-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-spinner-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-spinner-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-spinner-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-spinner-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-spinner-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-spinner-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-spinner-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

/* FORM VALIDATION */
form i.icon.error {
  color: #ef4e3a; }

form input + i.icon.error {
  display: none;
  margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block; }

form .has-error {
  border-left: 4px solid #cc2511; 
  border-right: 4px solid #cc2511; 
}

form .has-success {
  border-left: 4px solid #3d8b3d; 
  border-right: 4px solid #3d8b3d; 
}

form.ng-submitted input.ng-valid + i.icon.error {
  display: none; }

.validated {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;}

.validated .input-label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; 
}

.validated input {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%; 
}

.validated error {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%; 
}
.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
/* END OF FORM VALIDATION */

.dialog.confirm-dialog .popup .popup-head{
  border-color: #111;
  /*background-color: #444444;*/
  /*background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);*/
}

.sk-spinner.loading-icon{
  position: fixed;
  z-index: 99999;
  top: 40%;
  left: 50%;
  margin-left: -20px;
}
/*-------------------------------------*/
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.tp-bg{
  background-color: transparent;
  border: 0px;
}


.logo-large {
    width: 250px;
    margin: 60px auto 80px;
    max-width: 100%;
}
.logo-large img {
    width: 100%;
    height: auto;
}

.login .email:before,
.login .password:before{
    font-family: FontAwesome !important;
    content:"\f003";
    display: inline-block;
    width: 25px;
    height: 25px;
    font-family: icon;
    font-size: 20px;
    text-align: center;
    color: #4EAEFF;
    float: left;
    margin-right: 10px;
    line-height: 25px;
}
.login .password:before{
    font-family: FontAwesome;
    content: "\f023";
}

.question-barber .label {
    position: relative;
    color: white;
}

.error-text {
    color: #FFFB59;
    font-weight: bold;
    display: block
}
/*-- Merger --*/
/*-- Settings --*/
#barberSettings .input-label, #userSettings .input-label{display: inline;}
#barberSettings input, #userSettings input{text-align: right; background-color: transparent;}
/*Appointment*/
.btn.blue{
    background: #4EAEFF;
}
.btn.gray{
    background: #888;
}
#calendar {
    text-align: center;
    color: #fff;
    padding: 10px 0 0;
}
#calendar h1,
#calendar h2{
    font-weight: 300;
    margin: 0px auto;
}
#calendar h2{
    border-radius: 20px;
    background: rgba(0,0,0,0.4);
    width: 190px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
}

.days > span {
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 35px;
    font-weight: 700;
    margin: 0 5px;
}

.days {
    background: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}
.btn {
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;        
    display: inline-block;
    vertical-align: middle;
    padding: 10px 5%;
    /* cursor: pointer; */
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    border: 0;
}
.slider {
    margin: 0;
    height: 255px;
    color: #fff;
    list-style: none;
    padding: 0;
    visibility: visible;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.slider .uptime{
    color: #0ad;
    font-weight: 300;
}
.slider .uptime sup{
    font-size: 70%;
}
.slider li{
    position: absolute;
    width: 100%;
    left: 0;
    max-width: 100%;
    opacity: 0;
    display: none;
}

.slider h3{
    background: #0ad;
    padding: 8px 0;
    width: 250px;
    margin: 10px auto;
}

.slider li.active{
    opacity: 1;
    display: block;
    -webkit-animation: flip 1s;
    -moz-animation: flip 1s;
    -ms-animation: flip 1s;
    animation: flip 1s;
}

.slider-toggle {
    text-align: center;
    padding: 12px 0 0;
    cursor: pointer;
}
.slider-toggle a {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #AAA;
    border-radius: 20px;
    margin: 0 8px;
}
.slider-toggle a.active {
    background: #aaa;
}

.slider .btn.red {
    background: #b33;
    margin-right: 40px;
}
.slider .btn.green{
    background: #3b3;
}
.slider .btn.red:before{
    content: "\f057";
    font-family: icon;
    margin-right: 5px;
}
.slider .btn.green:before{
    content: "\f058";
    font-family: icon;
    margin-right: 5px;

}

.slider h4{
    font-weight: 300;
    font-size: 14px;
}
.slider .address{
    color: #aaa;
}
.clear {
    clear: both;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
.slider h3.green{
    background: #3a3;
    margin: 10px auto;  
}
.w40 p:last-child {
    color: #aaa;
}

.slider .red {
    background: #a33;
}
.w40 {
    float: left;
    width: 40%;
    font-size: 80%;
    text-align: center;
}
.w20{
    width: 20%;
    float: right;
    font-size: 70%;
}
.w40 p{
    margin: 0
}
.w40 h2{
    margin-top: 0;
}

.slider .clear {
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#canceled .btn:before {
    display: none;
}

/*cirles calendar*/
.circles .fc td.fc-day-number{
    width: 25px;
    height: 25px;
}

#calendar.circles thead.fc-head > tr,
#calendar.circles .fc-body{
    width: 375px;
    
}

.circles th.fc-day-header{
    width: 47px;
}

#calendar.circles .fc-body .fc-row{
    min-height: 55px;
    max-height: 60px;
}

.circles .fc td.fc-day-number{
    margin: 10px;
}
.fc td.fc-day-number.selected {
    background: #0a4;
}

.circles div.fc-scroller{
    max-height: 300px;
    min-height: 300px;
    overflow-y: scroll;
}
.circles .fc-day-grid{
    height: 296px;
    overflow: hidden;
    width: 100%;
}
.fc-day-number b{
    position: absolute;
    top: -10px;
    left: 12.5px;
    border-radius: 10px;
    overflow: hidden;
    width: 5px;
    height: 5px;
    border: 1px solid #fa0;
}
.fc-day-number b.booked{
    border: 1px solid #bbb;
}
.fc-day-number.fc-past b:before{
    background: #aaa;
}
.circles .fc-day-number.fc-past{
    background: #aaa;
    border: 2px solid #aaa;
}
.fc-day-number b:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #fa0;
}
.fc-day-number b.booked:before{
    background: #bbb;
}
.circles .fc-day-number.canceled b:before{
    background: #bbb;
}
.circles .fc-day-number.canceled b,
.circles .fc-day-number.fc-past b{
    border: 1px solid #bbb;
}
.half:before{
    margin-left: 3px;
}
.fc-day-number b.c1 {
    top: -6.5px;
    left: 23.5px;
}
.fc-day-number b.c2 {
    top: 2px;
    left: 30.8px;
}
.fc-day-number b.c3 {
    top: 12.5px;
    left: 32.5px;
}
.fc-day-number b.c4{
    top: 23px;
    left: 29.8px;
}
.fc-day-number b.c5{
    top: 30px;
    left: 22.5px;
}
.fc-day-number b.c6{
    top: 33px;
    left: 12.5px;
}
.fc-day-number b.c7{
    top: 30px;
    left: 2px;
}
.fc-day-number b.c8{
    top: 23px;
    left: -7px;
}
.fc-day-number b.c9{
    top: 12.5px;
    left: -10.5px;
}
.fc-day-number b.c10{
    top: 1px;
    left: -8px;
}
.fc-day-number b.c11{
    top: -7.5px;
    left: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
   /* font-weight: 500;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;*/
}
/*X: barber-appointment*/
.barberAppointments{color: #fff;}
.barberAppointments .barber-statistic-page #settings{bottom: auto; top: 0px; position: relative; }
.barberAppointments .p-none{padding: 0px; }
.barberAppointments .l-h-40{line-height: 40px; }
.barberAppointments .select{background: transparent url('/images/select-arrow.png') no-repeat; background-position: bottom right; height: 50px; min-width: 300px; -webkit-appearance: none; -moz-appearance: none; }
.barberAppointments .select option{color: black; }
.barberAppointments .highcharts-yaxis-title{display: none; }
.barberAppointments .highcharts-title{fill: white !important; }
.barberAppointments .check-profile-thumb{position: relative; top: -50px; }
.barberAppointments .fa-2 {font-size: 2em !important; }
.barberAppointments .check-profile-thumb{left: 51px; color: #A9F3FB; }
.barberAppointments .glyphicon-star{color: #BF9620; }
.barberAppointments .b-r{border-right: 1px solid #4C4B4B; }
.barberAppointments .no-b-t{border-bottom: 0px !important; }
.barberAppointments .carousel-image .item{background-color: transparent; }
.barberAppointments .carousel-image .item.active{border: 0px; }
.barberAppointments .carousel-image{height: 40px; }
.barberAppointments .wrapper .col-xs-3{padding: 0px; float: left; width: 25%;}
.barberAppointments .carousel-control{z-index: 99999; }
.barberAppointments .header-btn-right{position: absolute; right: 9px; top: 20px; border-radius: 3px; }
.barberAppointments .slick-prev{left: 0px; z-index: 99999; }
.barberAppointments .slick-next{right: 0px; z-index: 99999; }
.barberAppointments .carousel-item{height: 70px; }
.barberAppointments .slick-slider{height: auto; }
.barberAppointments .d-il{display: inline-block; }
.barberAppointments .toggle-header .btn-group{margin: auto; padding: 0px; border: 0px; }
.barberAppointments .center{margin: 0 auto; display: block; }
.barberAppointments .width-60pc{width: 60%; }
.barberAppointments .wrapper-upcomming-content{max-height: 400px; overflow-y: scroll; -webkit-overflow-scrolling: touch; overflow-x: hidden; }
.barberAppointments .wrapper-upcomming-content .list {height: auto; background: transparent; position: inherit; overflow: visible; }
.barberAppointments .wrapper-upcomming-content .list .item{background-color: transparent; } 
.barberAppointments .m-t-md{margin-top: 20px; }
.barberAppointments .button-primary{color: #fff !important; background-color: #337ab7 !important; border-color: #2e6da4 !important; }
.barberAppointments .button-primary:active, {color: #fff !important; background-color: #286090 !important; border-color: #204d74 !important; }
.barberAppointments .list-checkbox .item{padding-top: 0px; padding-bottom: 0px; line-height: 55px; }
.barberAppointments .wrapper-upcomming-content .checkbox input{display: block; top: 0px; margin-left: -6px; }
.barberAppointments .rectange-checkbox{width: 28px; height: 28px; border: 0; background: #2B9C2B; cursor: pointer; -webkit-appearance: none; }
.barberAppointments .rectange-checkbox:before {display: none;}
.barberAppointments .rectange-checkbox.checked:after {-webkit-transition: opacity 0.05s ease-in-out; transition: opacity 0.05s ease-in-out; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; top: 33%; left: 25%; display: table; width: 14px; height: 6px; border: 1px solid #fff; border-top: 0; border-right: 0; content: ' '; opacity: 1; }
.barberAppointments .m-l-md{margin-left: 20px;}
.barberAppointments .toggler-header-btn{padding: 0px !important; height: 43px !important; min-height: auto !important; }
.barberAppointments .twoweek-btn{min-width: 76px; }
.barberAppointments .day-btn{min-width: 51px; }
.barberAppointments .week-btn{min-width: 51px; }
/*#settings .row.general-info{padding-top: 35px; padding-right: 0px; padding-left: 0px; margin: 0px; }*/
.barberAppointments .gray-text{color: #6F6969; }
.barberAppointments .fz-20{font-size: 20px; }
.barberAppointments .op-06{opacity: 0.6; }
/*#settings.profile-wrapper{background: rgba(0,0,0,0.6); }*/
.barberAppointments .barber-checkbox{text-align: center; }
.barberAppointments .barber-checkbox .label{position: relative; top: -11px; color: white; }
.barberAppointments .error-text{color: red; }
.barberAppointments .sk-spinner.loading-icon{position: fixed; z-index: 99999; top: 30%; left: 50%; margin-left: -20px; }
.barberAppointments .barber-profile-label{font-size: 20px; border: 0px; position: absolute; width: 100%; padding-right: 30px; bottom: 0px; }
.barberAppointments .mh-75{min-height: 80px; }
.barberAppointments .col-xs-4{width: 33.33333333%; white-space: nowrap; float: left; padding-right: 15px; padding-left: 15px;}

.barberAppointments .l-h-40 {line-height: 40px;}
.barberAppointments .button-bar{padding: 0px 15px;}
.barberAppointments .btn-primary {color: #fff; background-color: #337ab7; border-color: #2e6da4; }
.barberAppointments .width-60pc {width: 60%;}
.barberAppointments .center {margin: 0 auto; display: block; }
.barberAppointments .m-t-md {margin-top: 20px; }
.barberAppointments .wrapper-upcomming-content {max-height: 400px; overflow-y: scroll; -webkit-overflow-scrolling: touch; overflow-x: hidden; }
.barberAppointments .btn-success {background-color: #5cb85c;}
.barberAppointments .glyphicon {position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.barberAppointments .glyphicon-star {color: #BF9620; }

.count-down-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.count-down{
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
}
#barberAppointmentes .item * {white-space: normal;}
/*-- userBookingHistory --*/
#userBookingHistory .item *{white-space: normal;}
#userBookingHistory .item h2{color: #000;}
#userBookingHistory .avata{border-radius: 50%; max-width: 100%;}
#userBookingHistory .info{padding-right: 35px;}
#userBookingHistory .status{font-size: 30px; position: absolute; top: 22px; left: auto; right: 10px;}
#userBookingHistory .ion-checkmark-circled{color: green;}
#userBookingHistory .ion-close-circled{color: red;}
#userBookingHistory .ion-help-circled{color: yellow;}

.time-slot-spacing {
    margin: 36px 0px;
}
.font-bold{
  font-weight: bold;
}
.b-l{
  border-left: solid 1px;
}
.b-r{
  border-right: solid 1px;
}
.b-t{
  border-top: solid 1px;
}
.b-b{
  border-bottom: solid 1px;
}
.b-dashed{
  border: dashed;
}
.b-r-dashed{
  border-right: dashed 1px;
}
.p-3-8{
  padding: 3px 8px;
}
.radius-10{
  border-radius: 10px;
}
#userBookingHistory .ubh_item{display: none;}
#userBookingHistory .ubh_item.booked{display: block;}
/*-- userBooking --*/
#bookingCutOptions .price{width: 100%; line-height: 30px; top: 5px; font-size: 30px;}
#bookingCutOptions .price sup{position: relative; top: initial; right: initial;}
/*-- recentCut --*/
#recentCut .ubh_item{display: none;}
#recentCut .ubh_item.done{display: block;}
/* STYLE FOR HOME PAGE */

#logo {
    //background: #cdcac9;
    text-align: center;
    /height: 80px;
    position: relative;
    //margin:-10px -10px 0px -10px;
}

#logo img{
    //max-width: 140px; 
    max-width: 240px; 
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.content {
    text-align: center;
    padding: 20px 0px;
    text-shadow: 0 0 0.5em #aaa, 0 0 0.5em #aaa, 0 0 0.5em #aaa;
}

#menuHome {
    background: rgba(0, 0, 0, 0.75);
    position: relative;
    width: 100%;
    bottom: 100;
    //margin-left: -10px;
    //margin-top: 40%;
}

#menuHome.active,
#menuHome:active,
#menuHome.activated {
    background:transparent;
}

#menuHome:after{
    content: "";
    clear: both;
    display: block;
    background: #44BBFF;
}
#menuHome > div:last-child,
#menuHome > div:nth-child(3){
    margin-right: -1%;
}
.card-style-home-button {
    //background: #44BBFF;
    border-color:transparent;
    content-align:center;
    background: rgba(0, 0, 0, 0);
    width: 33.333%;
    height: 100px;
    //padding: -10px 10px;
    //margin:-10px -10px 0px -10px;
    font-size: 3vw;
}
.card-style-home {
    float: left;
    width: 33.333%;
    height: 100px;
    //padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card-style-home-button.active,
.card-style-home-button:hover,
.card-style-home-button:active,
.card-style-home-button.activated,
.card-style-home.active *,
.card-style-home:hover *,
.card-style-home:active *,
.card-style-home.activated *{
    //background: #44BBFF;
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
    //opacity: 0.25;
    //border-color:#fff;
}
.card-style-home * {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #aaa;
    width: auto; 
    max-width: 100%;
}

.card-style-home img{
    height: 50px;
    width: auto;
    margin-bottom: 10px;
    opacity: 0.5;
    padding-top:10px;
}

.list-av img{
  //position: absolute;
  //top: 16px;
  //left: 16px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 5%;
  overflow: hidden;
}
#menuHome .ion-locked{position: absolute; top: 0; right: 20%; color: #DADE3E;}
.popup-head{background-color: #000;}
/*search page*/
/*bookingTime*/
#bookingTime .time-slot-spacing{display: inline-block; margin: 10px 3vw; width: 40vw; text-align: center;}
#bookingTime .time-slot label{padding: 10px; width: 100%; display: block;}
#bookingTime .time-slot input {position: absolute; top: 13px; left: 3px}
/*payInfo*/
#payInfo .item_phv{float: right;}
#payInfo .card{margin: 0px 10px;}
/*contact*/
#contact-page{}
.c-positive{background-color: #387ef5;}
.c-assertive{background-color: #e42112;}
.c-warning{background-color: #FFFF00;}
.c-ion{width: 30px; height: 30px; display: inline-block; text-align: center; vertical-align: middle; line-height: 30px; font-size: 20px; margin: 0px 0px 0px 8px;}
/*barberRecentCuts*/
#barberRecentCuts .item *{white-space: normal;}
.sweet-alert{pointer-events: visible;}
/* Media Query*/
@media (min-height: 641px){
    .card-style{
        height: 140px;
    }
    .card-style img{
        height: 70px;
    }
    
}

@media (min-height: 560px) and (max-height: 640px){
    .card-style{
        height: 120px;
    }
    .card-style img{
        height: 60px;
    }
    
}

.error-validator{
  color: red;
}


.tips-bar > .button{
  padding: 0px !important;
}