<ion-view hide-nav-bar="true" id="userSettings">
    <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <a style="color:#fff;" href="javascript:void(0)" ng-click="$root.goBack()" class="button button-icon icon ion-chevron-left"></a>
        <h1 class="title">Settings</h1>
        <button ng-click="$root.goHome()" class="button button-icon icon  ion-ios-home"></button>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <div class="item item-input">
                <div class="input-label"> Account </div>
                <input type="text" name="email" placeholder="Enter e-mail" disabled="" ng-model="settings.email">
            </div>

            <div class="item item-input">
                <div class="input-label"> Avatar </div>
                <input type="file" name="update-thumb" onchange="angular.element(this).scope().avatarUploadChange(this.files[0])">                
            </div>


            <div class="item item-input">
                <div class="input-label"> Zip Code </div>
                <input type="text" name="zip" id="zip" placeholder="Zip" ng-model="settings.zipcode">
            </div>

            <div class="item item-input">
                <div class="input-label"> Phone Number </div>
                <input type="text" name="phone" id="phone" placeholder="Enter Phone Number" ng-model="settings.phonenumber">
            </div>

            <!-- <div class="item item-input item-select">
                <div class="input-label">Payment</div>
                <select ng-model="settings.payment.type" >
                    <option value="card">Card</option>
                    <option value="visa">Cash</option>
                </select>
            </div> -->

            <div class="item item-input">
                <div class="input-label">Card Number:</div>
                <input type="text" name="cardNumber" placeholder="" ng-model="settings.payment.cardnumber" onchange="angular.element(this).scope().cardnumberChange(this.value)">
            </div>

            <div class="item item-input">
                <div class="input-label">Expiration Month:</div>
                <input type="text" name="cardMonth" placeholder="" ng-model="settings.payment.cardmonth">
            </div>
            
            <div class="item item-input">
                <div class="input-label">Expiration Year:</div>
                <input type="text" name="cardYear" placeholder="" ng-model="settings.payment.cardyear">
            </div>                

            <div class="item item-input">
                <div class="input-label">Enter CVC Code:</div>
                <input type="text" name="cardCVC" placeholder="" ng-model="settings.payment.cardcvc"><br/>
            </div>    

            <div class="item item-input">
                <div class="input-label"> Hairstyle </div>
                <input type="text" name="style" id="style" placeholder="Hair style" ng-model="settings.style">
            </div> 
        </ion-list>
    </ion-content>
</ion-view>
