<ion-side-menus cache-view="false" enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-dark">
      <ion-nav-back-button side="left">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title" style="font-weight: bold;">CLYPR</h1>
    </ion-header-bar>
    <ion-content>
      <!-- customer menu -->
      <ion-list ng-if="userType == 'customer'">
        <ion-item nav-clear menu-close ui-sref="app.user-settings" class="item-icon-left">
          <div class="avatar" style="background: url({{userSettings.avatar}}) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 80px; height: 80px; margin: auto; border-radius: 50%;"></div>
          <div class="text-center username" style="padding: 10px 0px 0px 0px; font-weight: bold;">{{userSettings.name}}</div>
        </ion-item>        
        <ion-item nav-clear menu-close ui-sref="app.home" class="item-icon-left">
          <i class="icon ion-ios-home-outline" style="color: #000;"></i>          
          Home
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="salons.results" class="item-icon-left" ng-click="noAnimate()">
          <i class="icon ion-search" style="color: #000;"></i>
          Find Barbers
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.user-booking-history" class="item-icon-left" ng-click="noAnimate()">
          <i class="icon ion-person-stalker" style="color: #000;"></i>
          My Bookings
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="booking.cut-options" class="item-icon-left" ng-click="comingSoon()">
          <i class="icon ion-card" style="color: #000;"></i>
          Payment Method
          <span class="ion-locked"></span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/promo-code" class="item-icon-left" ng-click="comingSoon()">
          <i class="icon ion-cash" style="color: #000;"></i>
          Promo codes
          <span class="ion-locked"></span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/user-settings" ui-sref="app.user-settings" class="item-icon-left" ng-click="closeMenu()">
          <i class="icon ion-ios-gear-outline" style="color: #0066FF;"></i>
          My settings
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/contact" ui-sref="app.contact" class="item-icon-left" ng-click="closeMenu()">
          <i class="icon ion-email" style="color: #0066FF;"></i>
          Contact us
        </ion-item>

      </ion-list>
      <!-- barber menu -->
      <ion-list ng-if="userType == 'barber'">
          <ion-item nav-clear menu-close ui-sref="app.barber-settings" class="item-icon-left">
            <div class="avatar" style="background: url({{userSettings.avatar}}) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 80px; height: 80px; margin: auto; border-radius: 50%;"></div>
            <div class="text-center username" style="padding: 10px 0px 0px 0px; font-weight: bold;">{{userInfo.given_name}} {{userInfo.family_name}}</div>
          </ion-item> 
          <ion-item nav-clear menu-close ui-sref="app.home" class="item-icon-left">
            <i class="icon ion-ios-home-outline" style="color: #000;"></i>            
            Home
          </ion-item>
          <ion-item nav-clear menu-close ui-sref="app.barber-appointments" class="item-icon-left" ng-click="noAnimate()">
            <i class="icon ion-person-stalker" style="color: #000;"></i>
            My Appointments
          </ion-item>
          <ion-item nav-clear menu-close ui-sref="app.barber-statistics" class="item-icon-left" ng-click="comingSoon()">
            <i class="icon ion-stats-bars" style="color: #0066FF;"></i>
            My Stats
            <span class="ion-locked"></span>
          </ion-item>
          <ion-item nav-clear menu-close href="#/booking/cut-options" class="item-icon-left" ng-click="comingSoon()">
            <i class="icon ion-card" style="color: #000;"></i>
            Payment Method
            <span class="ion-locked"></span>
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/promo-code" class="item-icon-left" ng-click="comingSoon()">
            <i class="icon ion-cash" style="color: #000;"></i>
            Promo codes
            <span class="ion-locked"></span>
          </ion-item>
          <ion-item nav-clear menu-close ui-sref="app.barber-settings" class="item-icon-left" ng-click="closeMenu()">
            <i class="icon ion-ios-gear-outline" style="color: #0066FF;"></i>
            My settings
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/contact" ui-sref="app.contact" class="item-icon-left" ng-click="closeMenu()">
            <i class="icon ion-email" style="color: #0066FF;"></i>
            Contact us
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
