<div class="wrapper barber-statistic-page">

  <div id="logo">
        <a class="backlink" href="#/user-appointments"><span class="btn gray">BACK</span></a>
      <img src="./images/logo.png" alt="logo" width="150" height="100" />
    </div>

    <form novalidate name="statisticForm" id="settings" >
        <div>
            <span>Monthly CLYPR Goal</span>
            <span class="float-r">
                <span > {{statistic.monthlyGoal }} </span>
            </span>
        </div>
      
        <div>
            <span>Total So far</span>
            <span class="float-r">
                <span > {{statistic.totalSoFar }} </span>
            </span>
        </div>

        <div>
            <span>Total Haircuts</span>
            <span class="float-r">
                <span > {{statistic.totalHaircuts }} </span>
            </span>
        </div>

        <div>
            <span>Avarage tip</span>
            <span class="float-r">
                <span > {{statistic.avgTip }} </span>
            </span>
        </div>
        <div>
            <span>Total from tips</span>
            <span class="float-r">
                <span > {{statistic.totalTips }} </span>
            </span>
        </div>

        <div>
            <span>Hair cut need to reach Goal</span>
            <span class="float-r">
                <span > {{statistic.needHairCuts }} </span>
            </span>
            
        </div>

    </form>
</div>

<div class="row">
    <div class="col-sm-6">
        <select class="select month-select h3" ng-model="currentPeriod">
            <option value="1"> This Month</option>
            <option value="2"> Last Month</option>
        </select>
    </div>
</div>

<div class="slider-toggle">
  <a ng-class="{'active': sliderToggle == 0 }" ng-click=" sliderToggle = 0"></a>
  <a ng-class="{'active': sliderToggle == 1 }" ng-click=" sliderToggle = 1"></a>
  <a ng-class="{'active': sliderToggle == 2 }" ng-click=" sliderToggle = 2"></a>
</div>

<ul class="align-c slider" style="position: relative; height: 260px;margin-bottom: 50px;">
  <li id="upcoming"  ng-class="{'active': sliderToggle == 0 }">
    <highchart config="lineChart" style="height: 300px;width: 80%;background: transparent;position: relative;"></highchart>
  </li>

  <li ng-class="{'active': sliderToggle == 1 }" >
    <highchart config="barChart" style="height: 300px;width: 80%;background: transparent;position: relative;"></highchart>
  </li>

  <li id="canceled" ng-class="{'active': sliderToggle == 2 }" data="2015-03-23" >
    <highchart config="donutChart" style="height: 300px;width: 80%;background: transparent;position: relative;"></highchart>
  </li>
</ul>



