<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <h1 class="title">User Preferences</h1>
    </ion-header-bar>
    <ion-content>
        <div id="logo"><img src="./images/logo.png" alt="logo" width="150" height="100" /></div>
        <div id="screen">
                <div class="content">
                        <h3>Tell us about yourself</h3>
                </div>
        </div>
        <ion-list>
            <label class="item item-input item-select item-text-wrap">
                <div class="input-label">
                    How often do you cut your hair?
                </div> 
                <select ng-model="userFreq"
                        ng-change="onChange('userFreq', userFreq)"
                        ng-options="freq.name for freq in currentFreq track by freq.value">
                </select>
            </label>
            <label class="item item-input item-select item-text-wrap">
                <div class="input-label">
                    Favorite Hair Style
                </div>
                <select ng-model="userFavStyle"
                        ng-change="onChange('userFavStyle', userFavStyle)"
                        ng-options="style for style in currentStyle track by style">
                </select>
            </label>
        </ion-list>
  <button class="button button-block button-balanced" ng-click="regPrefSubmit()">
      Next
  </button>
  <button class="button button-block button-assertive" ng-click="logout()">
      Logout
  </button>
    </ion-content>
</ion-view>
