<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <h1 class="title">User Registration</h1>
    </ion-header-bar>
    <ion-content>
        <div id="logo"><img src="./images/logo.png" alt="logo" width="150" height="100" /></div>
        <div id="screen">
                <div class="content">
                        <h2>Welcome</h2>
                        <!-- <p>For security purposes, your registration name must match your physical ID (for example, a Driver's License)</p> -->
                </div>
        </div>

        <div class="list white-bg">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name (as appears on ID)</span>
                <input type="text" 
                       placeholder="John" 
                       value={{userFirstName}} 
                       ng-model="userFirstName"
                       ng-change="onChange('userFirstName', userFirstName)"
                       id="userFirstNameInput">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name (as appears on ID)</span>
                <input type="text" 
                       placeholder="Doe" 
                       value={{userLastName}} 
                       ng-model="userLastName"
                       ng-change="onChange('userLastName', userLastName)">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Zip Code</span>
                <input type="text" 
                       placeholder="33196" 
                       ng-model="userZipCode"
                       ng-change="onChange('userZipCode', userZipCode)">
            </label>
        </div>
  <button class="button button-block button-balanced" ng-click="regBasicSubmit()" >
      Next
  </button>
  <button class="button button-block button-assertive" ng-click="logout()">
      Logout
  </button>
    </ion-content>
</ion-view>
