<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">About</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider item-dark text-center">
                <h1>Coffee!</h1>
            </div>
            <div class="item text-center">
                version 0.8<br/><br/>
                designed & developed by<br/>
                the Rockncoder<br/> <br/>
                Built using: <br/>
                JavaScript, AngularJS, Cordova, & Ionic<br/><br/>
                And the following web services:<br/>
                YP.com and Google Maps
            </div>
        </div>
    </ion-content>
</ion-view>
