<ion-view hide-nav-bar="true" cache-view="false">
  <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">User Home</h1>
  </ion-header-bar>
  <ion-content>
    <div class="wrapper">
      <div id="logo">        
        <img src="./images/logo.png" alt="logo" width="150" height="100" />
      </div>
      <div id="calendar">
        <h1>{{calendarYear}}</h1>
        <!-- <div id="kalender"></div> -->
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" ></div>
      </div>
      <div class="slider-toggle">
        <a ng-class="{'active': sliderToggle == 0 }" ng-click=" sliderToggle = 0"></a>
        <a ng-class="{'active': sliderToggle == 1 }" ng-click=" sliderToggle = 1"></a>
        <a ng-class="{'active': sliderToggle == 2 }" ng-click=" sliderToggle = 2"></a>
      </div>
      <ul class="align-c slider">
        <li id="upcoming" ng-class="{'active': sliderToggle == 0 }">
          <div>
            <h3>UPCOMING</h3>
            <h2 class="uptime">Nov 29, 2.30<sup>PM</sup></h2>
            <h2>Jason Street</h2>
            <h4>Cutting Edge Cuts</h4>
            <h4 class="address">45 Park Avenue, NY</h4>
            <span class="btn red">Cancel</span>
            <span class="btn green">Pay Now</span>
          </div>
        </li>
        <li ng-class="{'active': sliderToggle == 1 }">
          <div>
            <h3 id="completed" class="green" data="2015-03-10, 2015-03-17">COMPLETED CUTS</h3>
            <div class="clear">
              <!-- valid -->
              <div class="w40">
                <h2>Jason Street</h2>
                <div class="rating" data="4" half="">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
              </div>
              <!-- evalid -->
              valid
              <div class="w40">
                <p>Nov 1st, 10.30 <sup>am</sup></p>
                <p>Cutting Edge Cuts</p>
              </div>
              <!-- evalid -->
              <div class="w20">
                <a class="btn gray"href="#">View Pics</a>
              </div>
            </div>
            <div class="clear">
              <!-- valid -->
              <div class="w40">
                <h2>Matt Smith</h2>
                <div class="rating" data="3" half="">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
              </div>
              <!-- valid -->
              <div class="w40">
                <p>Nov 15th, 03.00 <sup>pm</sup></p>
                <p>Cutting Edge Cuts</p>
              </div>
              <div class="w20">
                <a class="btn gray"href="#">View Pics</a>
              </div>
            </div>
          </div>
        </li>
        <li id="canceled" ng-class="{'active': sliderToggle == 2 }" data="2015-03-23">
          <div>
            <h3 class="red">CANCELED CUTS</h3>
            <div class="clear">
              <div class="w40">
                <h2>Jason Street</h2>
              </div>
              <div class="w40">
                <p>Nov 28th, 07.30 <sup>pm</sup></p>
                <p>Cutting Edge Cuts</p>
              </div>
              <div class="w20">
                <a class="btn red"href="#">Canceled</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>