<style type="text/css">    
   .avatar{width: 23vw; height: 23vw; overflow: hidden; margin: auto;}    
   .avatar img {width: 100%; border-radius: 0px; border-radius: 5px;}
   #baberInfo.zoom{overflow: visible; z-index: 10;}
   #baberInfo.zoom .avatar{overflow: visible;}
   #baberInfo.zoom .avatar img{position: relative; top: 100%; -webkit-transform: scale(3); -moz-transform: scale(3); -ms-transform: scale(3); transform: scale(3);}
</style>

<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <a style="color:#fff;" href="javascript:void(0)" ng-click="goBack()" class="button button-icon icon ion-chevron-left"></a>
    <h1 class="title">Barber Information</h1>
    <button ng-click="$root.goHome()" class="button button-icon icon  ion-ios-home"></button>
</ion-header-bar>

<ion-pane>
    <ion-content has-header="true">
        <div class="card">
            <div class="item item-divider text-center">
                <!-- <h2>{{biz.businessName}}</h2> -->
                <h2>{{biz.given_name}} {{biz.family_name}}</h2>
            </div>
            <div class="item item-profile text-center" toggle-class="zoom" id="baberInfo">
                <div class="avatar"><img src="{{biz.avatar}}"></div>
                <div><strong>{{biz.name}}</strong></div>
                <div><strong>{{biz.address}}</strong></div>
                <div><strong>{{biz.zipcode}}</strong></div>                
            </div>
            <!-- <div class="item  text-center">
                <a class="item" href="tel:{{biz.phone}}" style="font-size: 150%;">
                    <i class="icon ion-ios-telephone" style="font-size: 150%;"></i>
                    Call:  {{biz.phone}}
                </a>
            </div> -->
            <div class="item  text-center">
                <a class="item" style="font-size: 150%;" ng-click="reviewComingSoon()">
                    <i class="icon ion-ios-star" style="font-size: 100%;"></i>
                    <i class="icon ion-ios-star" style="font-size: 100%;"></i>
                    <i class="icon ion-ios-star" style="font-size: 100%;"></i>
                    <i class="icon ion-ios-star-half" style="font-size: 100%;"></i>
                    <i class="icon ion-ios-star-outline" style="font-size: 100%;"></i>
                    <br>
                    0 Reviews
                    <span class="ion-locked"></span>
                </a>
            </div>
            <div class="item  text-center">
                <a class="item" ui-sref="app.booking-time({id: barberId})" style="font-size: 150%;">
                    <i class="icon ion-calendar" style="font-size: 150%;"></i>
                    Book Appointment
                </a>
            </div>
        </div>

        <div class="card" map zoom="18" ng-init="initMap()"
             tilt="0"
             map-type-id="ROADMAP" style=" height: 300px;">
        </div>

    </ion-content>
</ion-pane>
