<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <a style="color:#fff;" ng-click="$root.goBack()" class="button button-icon icon ion-chevron-left"></a>
    <h1 class="title">Review Order</h1>
    <button ng-click="goHome()" class="button button-icon icon  ion-ios-home"></button>
</ion-header-bar>
<ion-pane>
    <ion-content has-header="true" id="payInfo">
        <form name="form.paymentForm" novalidate ng-submit="submitPayment(form.paymentForm)">
            <div class="list">
              <div class="item item-divider">Haircut Details</div>
              <div class="item">Style: <span class="item_phv">{{bookingInfo.hairStyle.style}}</span></div>
              <div class="item">Blend Location: <span class="item_phv">{{bookingInfo.hairStyle.blend}}</span></div>
              <div class="item">Length on Top: <span class="item_phv">{{bookingInfo.hairStyle.topLength}}</span></div>
              <div class="item">Length on Side: <span class="item_phv">{{bookingInfo.hairStyle.sideLength}}</span></div>
              <div class="item">Tape in Back: <span class="item_phv">{{bookingInfo.hairStyle.tapeBack}}</span></div>
              <div class="item">Price: <span class="item_phv">${{bookingInfo.price}}</span></div>
              <div class="item">
                Time:
                    <span class="item_phv">
                        <strong ng-if="bookingInfo.slot < 12"> {{ bookingInfo.slot }} AM </strong>
                        <strong ng-if="bookingInfo.slot > 12"> {{ bookingInfo.slot-12 }} PM </strong> {{bookingInfo.bookingTime.weekday}} {{bookingInfo.bookingTime.month}} {{bookingInfo.bookingTime.day}} {{bookingInfo.bookingTime.year}}</p>
                    </span>
               </div>
            </div>
            <div class="card">
              <div class="item item-text-wrap">
                <p>Total: ${{bookingInfo.price}}</p>
                <p>Deposit: $1</p>
                <p>Remaining: ${{bookingInfo.price - 1}}</p>
              </div>
            </div>
            <input required name="cardNumber" type="hidden" ng-minlength="8" ng-maxlength="16" ng-model="user_settings.payment.cardnumber"/>
            <input required name="cardmonth" required type="hidden" ng-minlength="2" ng-model="user_settings.payment.cardmonth" ng-maxlength="2" placeholder="MM"/>
            <input required name="cardyear" required type="hidden" ng-minlength="4" ng-model="user_settings.payment.cardyear" ng-maxlength="4" placeholder="yyyy"/>
            <input required name="cvc" required type="hidden" ng-maxlength="4" ng-model="user_settings.payment.cardcvc"/>
            <button class="button button-block button-balanced" type="submit"  >
                Submit Payment Information
            </button>
        </form>
    </ion-content>
</ion-pane>
