<!-- <ion-view hide-nav-bar="true"> -->
<ion-view>
    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab title="Results" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/salon/results">
            <ion-nav-view name="salonsResults"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Search Options" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/salon/options">
            <ion-nav-view name="salonsOptions"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
