
<style type="text/css">
span.update-thumb {
    position: fixed;
    top: 100px;
    right: 0;
}
i.inv {
    display: inline-block;
    max-width: 40px;
    opacity: 0;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
span.update-thumb:before {
    content: "\f03e";
    font-family: icon;
    position: relative;
    z-index: -1;
    display: inline-block;
    margin-right: -40px;
}
</style>
<div class="wrapper">

    <div id="logo">
        <a class="backlink" href="./homeu.html">
            <span class="btn gray">BACK</span>
        </a>
        <img src="./images/logo.png" alt="logo" width="150" height="100" />
       
        <button class="btn btn-info header-btn-right">Book</button>
    </div>

    <div id="barber-profile">
        <div class="thumb-container">
            <img class="rounded thumb"  src="{{barberInfo.avatar}}" height="100" width="100" alt="Outlet Thumb">
        </div>
        <i class="fa fa-check-circle-o fa-2 check-profile-thumb op-06"></i>
        <h1>{{barberInfo.name}}</h1>
        <h2>
            <rating ng-model="rate" max="5" readonly="true" ></rating>
        </h2>
        <h4>
            <i class="fa fa-map-marker fa-2"></i>
            {{distance}} km(s)
        </h4>
    </div>



</div>

<div class="wrapper profile-wrapper" id="settings">
    <div class="row general-info" >
        <div class="col-xs-4 text-center b-r no-b-t mh-75 ">
            <h1 class="fz-20">{{barberSettings.haircuts[0].style}}</h1>

            <h2 class="gray-text barber-profile-label">Specialty</h2>
        </div>
        <div class="col-xs-4 text-center b-r no-b-t mh-75">
            <h1>${{barberSettings.haircuts[0].price}}</h1>
            <h2 class="gray-text barber-profile-label">Price</h2>
        </div>
        <div class="col-xs-4 text-center mh-75">
            <h1 class="fz-20">{{barberSettings.haircuts[0].time}} minutes</h1>
            <h2 class="gray-text barber-profile-label">Time</h2>
        </div>
    </div>

    <div >
        <slick infinite=false speed=300 slides-to-show=3 touch-move=false init-onload=true data="slides" class="slick-slider slider multiple-items">
            <!-- <img ng-repeat="slide in slides" ng-src="{{slide.image}}" /> -->
            <div ng-repeat="slide in slides">
                <img class="carousel-item"  ng-src="{{slide.image}}" />
            </div>
        </slick>
    </div>
</div>

