<ion-view hide-nav-bar="true">
<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">User Home</h1>
</ion-header-bar>
 <ion-content>
                <div class="content">
                        <h3>Connect with the perfect barber</h3>
                        <p>some text to describe your service</p>
                </div>
<ion-list>
  <ion-item>Hello!</ion-item>
  <ion-item nav-clear menu-close href="#/app/listings">
    Link to Listing page
  </ion-item>
</ion-list>

<a nav-clear menu-close href="#/app/listings">Visit the Listing page</a>

</ion-content>
