<ion-view hide-nav-bar="true" id="contact-page">
    <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Contact Us</h1>
    </ion-header-bar>
    <ion-pane>
    <ion-content>
        <div class="list">
        	<h4 class="text-center item item-text-wrap">Thank you, and welcome to CLYPR.</h4>
			<p class="item item-text-wrap">We appreciate your support in downloading our app to change the way the world gets haircuts. Now we need your help to keep us improving. Please don't hesitate to reach out for anything. We're here to help and to listen to our users.</p>
			<a class="item item-icon-left" href="mailto:Carlos@clypr.net?subject=Feed back">
			    <i class="icon ion-email positive"></i>
			    <p>Carlos Banks </p>
				<p>Co-Founder</p>
	      		<p><span class="dark">Carlos@clypr.net</span></p>
			</a>
			<a class="item item-icon-left" href="mailto:Byron@clypr.net?subject=Feed back">
			    <i class="icon ion-email positive"></i>
			    <p>Byron Gaskin</p>
				<p>Co-Founder </p>
	      		<p><span class="dark">Byron@clypr.net</span></p>
			</a>			
			<div class="item item-icon-left" href="#">				
			    <i class="icon ion-chatbubbles positive"></i>
			    Social:
			    	<a href="https://m.facebook.com/clypr#!/clypr" class="c-ion c-positive"><i class="ion-social-facebook light"></i></a>
			    	<a href="https://www.instagram.com/clypr/" class="c-ion c-assertive"><i class="ion-social-instagram light"></i></a>
			    	<a href="https://mobile.twitter.com/clyprteam" class="c-ion c-positive"><i class="ion-social-twitter light"></i></a>
			    	<a href="https://www.snapchat.com/add/clypr" class="c-ion c-warning"><i class="ion-social-snapchat-outline"></i></a>
			</div>
        </div>
    </ion-content>
    </ion-pane>
</ion-view>
