<ion-view >
  <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <a style="color:#fff;" href="javascript:void(0)" ng-click="$root.goBack()" class="button button-icon icon ion-chevron-left"></a>
    <h1 class="title">Haircut Request</h1>
    <button ng-click="$root.goHome()" class="button button-icon icon  ion-ios-home"></button>
  </ion-header-bar>

  <ion-pane id="bookingCutOptions">
    <ion-content has-header="true">
      <!-- <h2>Booking Page for {{barb.firstName}} {{barb.lastName}}</h2> -->
      <ion-list>
        <ion-item>
          <div class="item-input item-select">
            <div class="input-label">
              Style:
            </div>
            <select ng-model="selectedStyle.styleVar">
                <option ng-repeat="(key,style) in styleVarList" value="{{key}}"> {{style.style}}</option>
            </select>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-input item-select">
            <div class="input-label">
              Blend Location:
            </div>
            <select ng-model="blendVar" ng-change="onChange('blendVar', blendVar)" ng-options="blendVar for blendVar in blendVarList track by blendVar">
            </select>
          </div>
        </ion-item>
        <ion-item>
          Length on Top: {{topLength}}
          <div class="range range-positive">
            <!-- <i class="icon ion-ios-sunny-outline"></i> -->
            0
            <input type="range" name="volume" min="0" max="5" step="0.5" value="{{topLength}}" ng-model="topLength" ng-change="onChange('topLength', topLength)"> 5
            <!-- <i class="icon ion-ios-sunny"></i> -->
          </div>
        </ion-item>
        <ion-item>
          Length on Side: {{sideLength}}
          <div class="range range-positive">
            <!-- <i class="icon ion-ios-sunny-outline"></i> -->
            0
            <input type="range" name="volume" min="0" max="5" step="0.5" value="{{sideLength}}" ng-model="sideLength" ng-change="onChange('sideLength', sideLength)"> 5
            <!-- <i class="icon ion-ios-sunny"></i> -->
          </div>
        </ion-item>
        <ion-item>
          <div class="item-input item-select">
            <div class="input-label">
              Tape in Back:
            </div>
            <select ng-model="tapeBackVar" ng-change="onChange('tapeBackVar', tapeBackVar)" ng-options="tapeBackVar for tapeBackVar in tapeBackVarList track by tapeBackVar">
            </select>
          </div>
        </ion-item>
        <ion-item>
          Special Requests for Barber:
          <textarea class="specialRequests" ng-model="specialRequests" ng-change="onChange('specialRequests', specialRequests)" ng-trim="false" maxlength="140" placeholder="Leave a note for your barber..."></textarea>
          <span>{{specialRequests.length}}/140</span>
        </ion-item>
        <ion-item>
          Price (excluding tip)
          <div class="border2 price">
            <span class="hours">${{styleVarList[selectedStyle.styleVar].price}}</span><span>.</span>
            <sup class="ap"><u>{{styleVarList[selectedStyle.styleVar].time}} mins</u></sup>
          </div>
        </ion-item>
      </ion-list>
      <a class="button button-block button-balanced" ng-click="saveCutOptions()">
            Enter Payment Information
        </a>
    </ion-content>
  </ion-pane>

</ion-view>