<ion-view cache-view="false">
  <ion-nav-view name="bookingTime"></ion-nav-view>

  <ion-nav-view name="bookingCutOptions"></ion-nav-view>

  <ion-nav-view name="bookingPayInfo"></ion-nav-view>

  <ion-nav-view name="bookingConfirm"></ion-nav-view>
</ion-view>