<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <h1 class="title">Set Tips for Barber</h1>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <label class="item item-input" style="white-space: normal;" ng-init="paymentInfo.tips = 5">Don't forget to tip your barber! They work hard to keep you looking good!</label>
        <!-- <input type="numberß" name="tips" ng-model="paymentInfo.tips" ng-show="false"> -->
        <div class="button-bar tips-bar">
          <a class="button" ng-click="setTip(0)" ng-class="{'active': paymentInfo.tips == 0}">No Tip</a>
          <a class="button" ng-click="setTip(1)" ng-class="{'active': paymentInfo.tips == 1}">$2</a>
          <a class="button" ng-click="setTip(2)" ng-class="{'active': paymentInfo.tips == 2}">$5</a>
          <a class="button" ng-click="setTip(5)" ng-class="{'active': paymentInfo.tips == 5}">$10</a>
          <label class="item item-input button">
            <input type="number" placeholder="Other" ng-model="customTips" ng-change="setTip(customTips)" style="height: 100%; text-align: center; width: 100%; padding: 0px;margin-top:18%;">
          </label>
        </div>

        <div class="button-bar item" ng-if="paymentInfo.status=='booked'">
          <button type="submit" class="button button-positive" ng-click="payment()">Pay</button>
          <a class="button button-light" ng-click="modal.hide();refresh()">Cancel</a>
        </div>
      </div>
  </ion-content>
</ion-modal-view>