<ion-view cache-view="false" id="bookingTime">
    <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <a style="color:#fff;" href="javascript:void(0)" ng-click="$root.goBack()" class="button button-icon icon ion-chevron-left"></a>
        <h1 class="title">Barber Schedule</h1>
        <button ng-click="$root.goHome()" class="button button-icon icon  ion-ios-home"></button>
    </ion-header-bar>

    <ion-pane>
        <ion-content has-header="true">
            <!-- Loading angular-date-picker -->
            <date-picker ng-model="day" ng-change="onSelectDay('day', day)" format-date="formatDate" parse-date="parseDate"></date-picker>

             <div class="row times">
                 <!-- <div class="col text-center" ng-repeat="days in availTime"> -->
                 <div class="col text-center">
    		        <span style="color:#FFF; text-align:center">
                        Selected date:<br> 
                        <b>{{shownDate}}</b>
                        <!-- <b>{{ day }}</b> -->
                    </span>
                    <div style="margin-top: 10px; text-align: left;">
                         <div class="time-slot time-slot-spacing" ng-repeat="slot in listAvailableTime">       
                             <input type="checkbox" id="{{ slot.timeStart }}" ng-model="slot.booked" ng-disabled="slot.booked || slot.timeout" ng-change="onUserSelectDateRange(slot)">
                             <label for="{{ slot.timeStart }}">                             
                                 <span ng-if="slot.timeStart < 12">
                                     {{ slot.timeStart }} AM - 
                                 </span>
                                 <span ng-if="slot.timeStart > 12">
                                     {{ slot.timeStart-12 }} PM - 
                                 </span>                                 
                                 <span ng-if="slot.booked">Booked</span>
                                 <span ng-if="!slot.booked && !slot.timeout">Available</span>
                                 <span ng-if="!slot.booked && slot.timeout">Unavaiable</span>
                             </label>
                         </div>
                    </div> 
                 </div>    
             </div> 
        </ion-content>
    </ion-pane>

</ion-view>