<ion-view hide-nav-bar="true" id="userBookingHistory" cache-view="false">
<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">Booking History</h1>
</ion-header-bar>
<ion-content>
    <ion-refresher on-refresh="refresh()"></ion-refresher>
    <div ng-show="!bookings.length && !getting">
      <br>
      <center>
        <h1 style="">Pull to Refresh</h1>
      </center>
    </div>
    <div class="wrapper">
        <ion-list>
          <!-- customer view -->
            <div class="button-bar" id="status_button">
              <button class="button button-positive" ng-click="show_list('booked',$event)">Future</button>
              <button class="button button-dark" ng-click="show_list('done',$event)">Past</button>                            
              <button class="button button-dark" ng-click="show_list('cancel',$event)">Cancelled</button>
            </div>
            <div class="ubh_list">              
              <div ng-repeat="booking in bookings | orderBy:'-created_date'">
                <div class="ubh_item {{booking.status}}">
                  <div class="item row">
                    <div class="col col-20" auto-resize-image>
                      <img class="avata" src="{{booking.avatar}}"/>
                    </div>
                    <div class="col col-40 b-r positive-border">
                      <h2>{{booking.given_name}} {{booking.family_name}}</h2>
                      <p><span class="energized">{{booking.barbershop}}</span> - {{booking.address}} {{booking.zipcode}}</p>
                      <p ng-if="booking.phonenumber">{{booking.phonenumber}}</p>
                      <div class="line"></div>
                      <p>
                        <span ng-if="booking.slot < 12">{{booking.slot}} AM</span>
                        <span ng-if="booking.slot > 12">{{booking.slot-12}} PM</span>
                      </p>
                      <p>{{booking.bookedDate}}</p>
                      <p><span class="assertive-bg light p-3-8">{{booking.status}}</span></p>
                    </div>
                    <div class="col col-40">
                      <p><span class="font-bold">Blend:</span> {{booking.hairStyle.blend}}</p>
                      <p><span class="font-bold">Side Length:</span> {{booking.hairStyle.sideLength}}</p>
                      <p><span class="font-bold">Style:</span> {{booking.hairStyle.style}}</p>
                      <p><span class="font-bold">Tape Back:</span> {{booking.hairStyle.tapeBack}}</p>
                      <p><span class="font-bold">Top Length:</span> {{booking.hairStyle.topLength}}</p>
                      <p><span class="font-bold">Special requests:</span> {{booking.hairStyle.specialRequests}}</p>
                      <p ng-if="booking.price"><span class="assertive">${{booking.price}}</span></p>
                    </div>         
                    <!-- <div class="status ion-help-circled"></div>  -->  
                  </div>
                  <!-- <ion-list class="ubh_select" ng-if="booking.status=='booked'">
                    <ion-radio ng-model="status" value="cancel">Cancel</ion-radio>                  
                    <ion-radio ng-model="status" value="done">Pay Barber</ion-radio>
                  </ion-list> -->
                  <div class="button-bar" ng-if="booking.status=='booked'">
                    <a class="button button-positive" ng-click="openPaymentModal(booking)">Pay Barber</a>
                    <a class="button button-assertive" ng-click="updateStatus(booking, 'cancel')">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- barber view -->
          <div ng-if="type=='barber'">
            <div class="ubh_list">
              <div ng-repeat="booking in bookings | orderBy:'-created_date">
                <div class="item row">
                  <div class="col col-20" auto-resize-image>
                    <img class="avata" src="{{booking.avatar}}"/>
                  </div>
                  <div class="col col-40 b-r positive-border">
                    <h2>{{booking.given_name}} {{booking.family_name}}</h2>
                    <!-- <p><span class="energized">{{booking.barbershop}}</span> - {{booking.address}} {{booking.zipcode}}</p> -->
                    <p ng-if="booking.phonenumber">{{booking.phonenumber}}</p>
                    <div class="line"></div>
                    <p>{{booking.createdDate}}</p>
                    <p><span class="assertive-bg light p-3-8">{{booking.status}}</span></p>
                  </div>
                  <div class="col col-40">
                    <p><span class="font-bold">Blend:</span> {{booking.hairStyle.blend}}</p>
                    <p><span class="font-bold">Side Length:</span> {{booking.hairStyle.sideLength}}</p>
                    <p><span class="font-bold">Style:</span> {{booking.hairStyle.style}}</p>
                    <p><span class="font-bold">Tape Back:</span> {{booking.hairStyle.tapeBack}}</p>
                    <p><span class="font-bold">Top Length:</span> {{booking.hairStyle.topLength}}</p>
                    <p><span class="font-bold">Special requests:</span> {{booking.hairStyle.specialRequests}}</p>
                    <p ng-if="booking.price"><span class="assertive">${{booking.price}}</span></p>
                  </div>         
                  <!-- <div class="status ion-help-circled"></div>  -->  
                </div>
              </div>
            </div>
          </div>
        </ion-list>
    </div>
</ion-content>
</ion-view>
