<ion-view hide-nav-bar="true" id="barberSettings">
    <ion-header-bar class="bar bar-header bar-dark  item-input-inset">
        <a style="color:#fff;" href="javascript:void(0)" ng-click="$root.goBack()" class="button button-icon icon ion-chevron-left"></a>
        <h1 class="title">Settings</h1>
        <button ng-click="$root.goHome()" class="button button-icon icon  ion-ios-home"></button>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <div class="item item-input">
                <div class="input-label"> Email </div>
                <input type="email" name="email"  placeholder="Enter e-mail" ng-model="settings.email">
            </div>

            <div class="item item-input">
                <div class="input-label"> Avatar </div>
                <input type="file" name="update-thumb"  onchange="angular.element(this).scope().avatarUploadChange(this.files[0])">                
            </div>
            
            <div class="item item-input">
                <div class="input-label"> Specialty </div>
                <input type="text" name="specialty"  placeholder="Enter specialty" ng-model="settings.haircuts[0].style">
            </div>

            <div class="item item-input">
                <div class="input-label"> Specialty Price </div>
                <input type="text" name="price"  placeholder="Enter Price" ng-model="settings.haircuts[0].price">
            </div>

            <div class="item item-input item-select">
                <div class="input-label"> Specialty Time </div>
                <select ng-model="settings.haircuts[0].time" ng-change="">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                </select>
            </div>

            <div class="item item-input">
                <div class="input-label"> Second Hair </div>
                <input type="text" name="storename" placeholder="Second Hair Style" ng-model="settings.haircuts[1].style">
            </div>

            <div class="item item-input">
                <div class="input-label"> Second Hair Price </div>
                <input type="text" name="storename" placeholder="Second Hair Price" ng-model="settings.haircuts[1].price">
            </div>

            <div class="item item-input item-select">
                <div class="input-label"> Second Time </div>
                <select ng-model="settings.haircuts[1].time" ng-change="">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                </select>
            </div>

            <div class="item item-input">
                <div class="input-label"> Third Hair </div>
                <input type="text" name="storename" placeholder="Third Hair Style" ng-model="settings.haircuts[2].style">
            </div>

            <div class="item item-input">
                <div class="input-label"> Third Hair Price </div>
                <input type="text" name="storename" placeholder="Third Hair Price" ng-model="settings.haircuts[2].price">
            </div>

            <div class="item item-input item-select">
                <div class="input-label"> Third Time </div>
                <select ng-model="settings.haircuts[2].time" ng-change="">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                </select>
            </div>

            <div class="item item-input item-select">
                <div class="input-label"> Schedule </div>
                <select ng-model="currentSettingDay" ng-change="">
                    <option value="" disabled selected>Select Day</option>
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                </select>
            </div>

            <div class="item item-input item-select">
                <div class="input-label"> Start </div>
                <select ng-model="settings.schedules[currentSettingDay].start" ng-change="">
                    <option value="" disabled selected>Select Start Time</option>
                    <option value="9">9 am</option>
                    <option value="10">10 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="14">3 pm</option>
                </select>
            </div>

             <div class="item item-input item-select">
                <div class="input-label"> Break On </div>
                <select ng-model="settings.schedules[currentSettingDay].breakon" ng-change="">
                    <option value="" disabled selected>Select Break Time</option>
                    <option value="11">11 am</option>
                    <option value="11.5">11h30 am</option>
                    <option value="12">12 pm</option>
                    <option value="12.5">12h30 pm</option>
                    <option value="13">1 pm</option>
                    <option value="13.5">1h30 pm</option>
                </select>
            </div>

             <div class="item item-input item-select">
                <div class="input-label"> Break Off </div>
                <select ng-model="settings.schedules[currentSettingDay].breakoff" ng-change="">
                    <option value="" disabled selected>Select Break Off Time</option>
                    <option value="11.5">11h30 am</option>
                    <option value="12">12 pm</option>
                    <option value="12.5">12h30 pm</option>
                    <option value="13">1 pm</option>
                    <option value="13.5">1h30 pm</option>
                    <option value="14">2h pm</option>
                </select>
            </div>

            <div class="item item-input item-select">
                <div class="input-label"> End Time </div>
                <select ng-model="settings.schedules[currentSettingDay].end" ng-change="">
                    <option value="" disabled selected>Select End Time</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                </select>
            </div>

            <div class="item item-input">
                <div class="input-label"> Barber Shop </div>
                <input type="text" name="storename" placeholder="Store Name" ng-model="settings.barbershop">
            </div>

            <div class="item item-input">
                <div class="input-label"> Address </div>
                <input type="text" name="address"  placeholder="Address" ng-model="settings.address">
            </div>

            <div class="item item-input">
                <div class="input-label"> Zip Code </div>
                <input type="text" name="zip" placeholder="Zip" ng-model="settings.zipcode">
            </div>

            <div class="item item-input">
                <div class="input-label"> Phone Number </div>
                <input type="text" name="phone" placeholder="Enter Phone Number" ng-model="settings.phonenumber">
            </div>

            <div class="item item-input">
                <div class="input-label">Card Number:</div>
                <input type="text" name="cardNumber" placeholder="" ng-model="settings.payment.cardnumber" onchange="angular.element(this).scope().cardnumberChange(this.value)">
            </div>

            <div class="item item-input">
                <div class="input-label">Expiration Month:</div>
                <input type="text" name="cardMonth" placeholder="" ng-model="settings.payment.cardmonth">
            </div>
            
            <div class="item item-input">
                <div class="input-label">Expiration Year:</div>
                <input type="text" name="cardYear" placeholder="" ng-model="settings.payment.cardyear">
            </div>                

            <div class="item item-input">
                <div class="input-label">Enter CVC Code:</div>
                <input type="text" name="cardCVC" placeholder="" ng-model="settings.payment.cardcvc"><br/>
            </div>    

            <map zoom="16" style="height: 300px">
            </map>
        </ion-list>
    </ion-content>
</ion-view>
