<ion-header-bar class="bar-dark">
   <h1 class="title">Login Without Google+</h1>
</ion-header-bar>
<!-- <ion-content class="has-header padding"> -->
<ion-content class="has-header padding">
    <div class="card">
      <div class="item item-text-wrap">
        Write text here explaining how loging in with Google makes our system more efficient.
        <br><br>We are considering adding other login options, and they can submit an email address to be notified when these other options are available.
      </div>
    </div>
</ion-content>
