<!-- <ion-content class="has-header padding"> -->
<ion-content class="has-header padding" style="top:0px;">
    <div class="logo-large">
        <a><img src="./images/logo.png" alt="logo" width="150" height="100" /></a>
    </div>
    <div class="count-down-container" ng-if="counter">
      <div class="count-down">
        <div>You will be logged out in</div>
        <div>{{counter}}</div>
      </div>
    </div>
   <form name="login" method="post" class="login">
      <div class="list">
        <!-- <div class="item item-input email">
          <input type="text" name="email"
                  placeholder="E-mail address"
                  ng-model="account.email" 
                  ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)/"
                  required>
        </div>
        <div class="item item-input password">
          <input type="password"  name="password"
                  placeholder="Password"
                  ng-model="account.password"
                  ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/"
                  required>
        </div>
        <div class="padding">
            <small class="error-text sm" ng-show='showError && login.email.$error.required'>*Email is mandatory</small>
              <small class="error-text sm" ng-show='showError && login.email.$error.pattern'>*Invalid email</small>

            <small class="error-text sm" ng-show='showError && login.password.$error.required'>*Password is mandatory</small>
              <small class="error-text sm" ng-show='showError && login.password.$error.pattern'>*Password must have at least 8 characters and contain following: 1 digit, 1 lower case letter, 1 upper case letter</small>
            
        </div> -->
        <div ng-if="firstTime">
          <div class="item tp-bg" style="line-height: 32px; position: relative;">
              <span class="label"> Active code </span>
              <span class="label" style="position: absolute; top: -5px; right: 16px; color: yellow; text-transform: capitalize;">{{statusActive}}</span>
              <input style="float: right; padding: 0px 5px; width: 50%;" type="text" name="active_code" placeholder="Active code" required="required" ng-model="userType.active_code">              
          </div>          
          <div class="item adding question-barber item-toggle tp-bg">
            <span class="label">Are you a barber?</span>
            <label class="toggle">
               <input type="checkbox" ng-model="userType.isBarber">
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </div>          
          <div class="padding">
            <label class="button button-block button-balanced" ng-click="setType()">
                Go
            </label>
          </div>
        </div>
        
        <div class="padding" ng-if="!firstTime">
          <!-- <input type="button" ng-click="submit()" value="Sign In" class="btn blue"> -->
         <!--  <label class="button button-block button-positive" ng-click="submit()">
              Sign In
          </label>
          <span class="label" style="display:block;">or</span> -->
          <label class="button button-block button-balanced" ng-click=" gUserLogin(account.isBarber)">
              Login via Google+
          </label>
        </div>
      </div>
  </form>
 
</ion-content>
