<ion-header-bar class="bar-dark">
   <h1 class="title">Logged In</h1>
</ion-header-bar>
<!-- <ion-content class="has-header padding"> -->
<ion-content class="has-header padding">
      Logged in via Google+
</ion-content>
