<ion-view hide-nav-bar="true" id="barberRecentCuts" cache-view="false">
<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">Recent Cuts</h1>
</ion-header-bar>
<ion-content id="recentCut">
    <div class="wrapper">
        <ion-list>    
          <div class="button-bar" id="status_button">
            <button class="button button-positive" ng-click="show_list('done',$event,10)">Past</button>                            
            <button class="button button-dark" ng-click="show_list('cancel',$event,10)">Cancelled</button>
          </div>      
          <div class="ubh_list">
            <div ng-repeat="booking in bookings | orderBy:'-created_date'">
              <div class="ubh_item {{booking.status}}">
                <div class="item row">
                  <div class="col col-20" auto-resize-image>
                    <img class="avata" src="{{booking.avatar}}"/>
                  </div>
                  <div class="col col-40 b-r positive-border">
                    <p><span class="font-bold">{{booking.given_name}} {{booking.family_name}}</span></p>
                    <!-- <p><span class="energized">{{booking.barbershop}}</span> - {{booking.address}} {{booking.zipcode}}</p> -->
                    <p ng-if="booking.phonenumber">- {{booking.phonenumber}}</p>
                    <div class="line"></div>
                    <p>{{booking.slot}} {{booking.bookingTime.weekday}} {{booking.bookingTime.month}} {{booking.bookingTime.day}} {{booking.bookingTime.year}}</p>
                    <p><span class="assertive-bg light p-3-8">{{booking.status}}</span></p>
                  </div>
                  <div class="col col-40">
                    <p><span class="font-bold">Blend:</span> {{booking.hairStyle.blend}}</p>
                    <p><span class="font-bold">Side Length:</span> {{booking.hairStyle.sideLength}}</p>
                    <p><span class="font-bold">Style:</span> {{booking.hairStyle.style}}</p>
                    <p><span class="font-bold">Tape Back:</span> {{booking.hairStyle.tapeBack}}</p>
                    <p><span class="font-bold">Top Length:</span> {{booking.hairStyle.topLength}}</p>
                    <p ng-if="booking.price"><span class="assertive">${{booking.price}}</span></p>
                  </div>         
                  <!-- <div class="status ion-help-circled"></div>  -->  
                </div>
              </div>
            </div>
          </div>
          <div class="ubh_empty bar bar-header bar-calm" ng-if="!userBookings">
            <h1 class="title">You do not have any orders</h1>
          </div>
        </ion-list>
    </div>
</ion-content>
</ion-view>