<ion-view hide-nav-bar="true">
<ion-header-bar class="bar bar-header bar-dark  item-input-inset">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title"></h1>
</ion-header-bar>
<ion-content>
<div class="wrapper">
    <div id="logo"><img src="./images/logo.png" alt="logo" width="150" height="100" /></div>
    <div id="screen">
        <div class="content">
            <h3 ng-if="userType == 'customer'">Connect with the perfect barber</h3>
            <h3 ng-if="userType == 'barber'">You are a perfect barber</h3>
        </div>
    </div>
    <!-- customer -->
    <div id="menuHome" ng-if="userType == 'customer'">
        <div class="card-style-home" data="scr6">
            <a nav-clear class="button card-style-home-button" ui-sref="app.user-booking-history" ng-click="noAnimate">
                <img src="./images/recent_cuts.png" width="70" height="70" alt="icon"/>
                My Bookings
            </a>
        </div>
        <div class="card-style-home" data="scr2">
            <a nav-clear class="button card-style-home-button" href="#/app/user-explore" ng-click="comingSoon()">
                <img src="./images/location.png" width="70" height="70" alt="icon"/><span class="ion-locked"></span>
                Explore
            </a>
        </div>
        <div class="card-style-home" data="scr3">
            <a nav-clear class="button card-style-home-button" ui-sref="salons.results" ng-click="noAnimate()">
                <img src="./images/search.png" width="70" height="70" alt="icon"/>
                Search
            </a>
        </div>
        <div class="card-style-home" data="scr5">
            <a nav-clear class="button card-style-home-button" ui-sref="app.user-settings" ng-click="noAnimate">
                <img src="./images/settings.png" width="70" height="70" alt="icon"/>
                My Settings
            </a>
        </div>        
        <div class="card-style-home" data="scr7">
            <a nav-clear class="button card-style-home-button" ng-click="logout()">
                <img src="./images/power.png" width="70" height="70" alt="icon"/>
                <span>Sign Out</span>
            </a>
        </div>
    </div>
    <!-- barber -->
    <div id="menuHome" ng-if="userType == 'barber'">
        <div class="card-style-home" data="scr1">
            <a nav-clear class="button card-style-home-button" ui-sref="app.barber-appointments" ng-click="noAnimate()">
                <img src="./images/appointments.png" width="70" height="70" alt="icon"/>
                Appointments
            </a>
        </div>
        <div class="card-style-home" data="scr2"><!-- missing page -->
            <a nav-clear class="button card-style-home-button" href="#/app/barber-recent-cuts" ui-sref="app.barber-recent-cuts" ng-click="noAnimate()">
                <img src="./images/recent_cuts.png" width="70" height="70" alt="icon"/>
                Recent Cuts
            </a>
        </div>
        <div class="card-style-home" data="scr3">
            <a nav-clear class="button card-style-home-button" ui-sref="app.barber-settings" ng-click="noAnimate()">
                <img src="./images/barber_settings.png" width="70" height="70" alt="icon"/>
                Barber Settings
            </a>
        </div>
        <div class="card-style-home" data="scr4"><!-- missing page -->
            <a nav-clear class="button card-style-home-button" ui-sref="app.barber-statistics" ng-click="comingSoon()">
                <img src="./images/stats.png" width="70" height="70" alt="icon"/><span class="ion-locked"></span>
                Stats
            </a>
        </div>
        <div class="card-style-home" data="scr6"><!-- missing page -->
            <a nav-clear class="button card-style-home-button" href="#/app/barber-feedback" ng-click="comingSoon()">
                <img src="./images/feedback.png" width="70" height="70" alt="icon"/><span class="ion-locked"></span>
                Feedback
            </a>
        </div>
        <div class="card-style-home" data="scr7">
            <a nav-clear class="button card-style-home-button" ng-click="logout()">
                <img src="./images/sign_out.png" width="70" height="70" alt="icon"/>
                <span>Sign Out</span>
            </a>
        </div>
    </div>
</div>
</ion-content>
</ion-view>