<!-- <ion-content class="has-header padding"> -->
<ion-content class="has-header padding">
  <h3>Tutorial Page 2</h3>
  <button class="button button-block button-balanced" ng-click="homeRedirect()">
      Finish
  </button>
<!-- Logged-in user text -->
<!--
    <div class="card">
      <div class="item item-text-wrap" >User logged in as {{ $rootScope.userAuthData.google.displayName }}</div>
    </div>
-->
</ion-content>
