/*
booking-calendar {
  //float: left;
  //display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 300px;
  border: solid 1px #cccccc;
  margin-bottom: 10px;
}
booking-calendar > div.header {
  float: left;
  width: 100%;
  background: #2875c7;
  height: 40px;
  color: white;
}
booking-calendar > div.header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
booking-calendar > div.header > i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
booking-calendar > div.header > i.ion-ios-arrow-left {
  text-align: left;
}
booking-calendar > div.header > i.ion-ios-arrow-right {
  text-align: right;
  margin-left: -40px;
}
booking-calendar > div.header > span {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}
booking-calendar > div.week {
  float: left;
  width: 100%;
  border-top: solid 1px #cccccc;
}
booking-calendar > div.week:first-child {
  border-top: none;
}
booking-calendar > div.week > span.day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #cccccc;
  font-size: 0.75em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  color: black;
}
booking-calendar > div.week > span.day:first-child {
  border-left: none;
}
booking-calendar > div.week > span.day.today {
  background: #E3F2FF;
}
booking-calendar > div.week > span.day.different-month {
  color: #C0C0C0;
}
booking-calendar > div.week > span.day.selected {
  background: #2875c7;
  color: white;
}
*/

/* Original CSS */
.angular-date-picker {
    color: #333;
    font: normal 14px sans-serif;
    border: 1px solid #ddd;
    /* display: inline-block; */
    background: #fff;
}
.angular-date-picker > ._month {
    text-align: center;
    line-height: 22px;
    padding: 10px;
    background: #2875c7;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    position: relative;
    color: #FFF;
}
.angular-date-picker > ._month > button {
    color: #FFF;
    font: normal 14px sans-serif;
    outline: none;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}
.angular-date-picker > ._month > button:hover {
    color: #333;
}
.angular-date-picker > ._month > button._previous {
    left: 10px;
}
.angular-date-picker > ._month > button._next {
    right: 10px;
}
.angular-date-picker > ._days {
    /* width: 210px; */ /* 30 x 7 */
    margin: 10px;
    text-align: center;
}
.angular-date-picker > ._days > ._day-of-week, .angular-date-picker > ._days > ._day {
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 14%;
    line-height: 28px;
    float: left;
}
.angular-date-picker > ._days > ._day-of-week {
    font-weight: bold;
}
.angular-date-picker > ._days > ._day.-padding {
    opacity: .5;
}
.angular-date-picker > ._days > ._day {
    cursor: pointer;
}
.angular-date-picker > ._days > ._day.-selected {
    background: #e0e0e0;
}
.angular-date-picker > ._days > ._day.-today {
    border-color: #aaa;
}
.angular-date-picker > ._days > ._day:hover {
    background: #eee;
}
.angular-date-picker > ._days:after {
    content: '';
    display: block;
    clear: left;
    height: 0;
}
